/**
 * styling for Walking Tree - LMS assignment in JS module 
 */

/* common styling */
* {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
a {
    margin: 0;
}
:focus {
    outline: none;
    /* to remmove the default outlining 
    of the browser on focusing an element */
}

/* non-specific styling */
.required:after {
    content: '*';
    color: red;
}
.b-green {
    /* for submit button */
    background: #9AC745 -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: #9AC745 -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: #9AC745 linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}
.b-red {
    /* for reset  button */
    background: #CB3939 -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: #CB3939 -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: #CB3939 linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}


/*--------------- popup styling ----------------------*/
/* general properties */
div.popup {
    display: inline-block;
    border-radius: 10px 0px;
    padding: 25px;
    /*font-weight: 500;*/
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    box-shadow: 0px 1px 5px #CFD0D0;
    border: 1px solid black;

    display: none;

    width: 350px;
    /*height: 179px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -89.5px;*/

    -webkit-transition: display 2s height 1s margin 1s ease;
    -moz-transition: display 2s height 1s margin 1s ease;
    transition: display 2s height 1s margin 1s ease;
}
div.popup .closeme {
    position: absolute;
    right: -18px;
    top: -18px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/delete2.png') no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
}
/*div.popup:after {
    content: '';
    position: absolute;
    right: -18px;
    top: -18px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/delete2.png') no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
} /* not possible to add event listener to a pseudo element as 
it doesn't exist in DOM */
div.popup tr td:first-child {
    /* width for labels */
    width: 120px;
}
div.popup input, div.popup select {
    background: white;
    width: 220px;
    border: 2px solid #4AAEC6 /*#2D97B3*/;
    padding: 7px;
    box-sizing: border-box;
}
/*div.popup select option {
    padding: 7px;
}*/
div.popup button {
    font-size: 12px;
    padding: 12px 20px;
    width: 85px;
    border: none;
    color: white;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0 0 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
#buttons {
    /* for popup buttons */
    text-align: right;
    /*position: relative;
    top: 13px;*/
    padding-top: 13px;
}

/* Errors styling */
div.popup div#err, div.popup div#err p, div.popup div#err ol, div.popup div#err ol li {
    margin: 0;
    font-size: 13px;
}
div.popup div#err {
    color: red;
    background: #FFFFC9;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    border: 1px solid #BD494A;
    padding: 2px 5px 10px;
    margin-bottom: 23px;
    /*display: none;*/
}
div.popup div#err ol {
    padding-left: 0;
    list-style-position: inside;
}
div.err {
    height: 261px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -120.5px;
}
div.err div#err {
    display: block;
}
div.noerr {
    height: 179px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -89.5px;
}
div.noerr div#err {
    display: none;
}


/*------------ student info table styling ------------*/
.content table {
    text-align: left !important;
    border-collapse: collapse;
    background: white;
}
.content table, .content th, .content td {
    border: 1px solid white;
}
.content td, .content th {
    padding: 5px;
    /*font-weight: bold;*/
}
.content thead {
    color: white;
}
.content th {
    background: #CCCCB0; /* temporary color to be replaced 
    later by applying corresponding classes */
    border-top: 2px solid;
    border-bottom: 2px solid;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), ;
    margin-top: 2px;

    text-align: left !important; /* IE doesn't inherit 
    this from the table properties */
}

/* column width specification */
/* Name column */
.content colgroup col:nth-child(2) {
    width: 150px;
}
/* Qualification column */
.content colgroup col:nth-child(4) {
    width: 120px;
}
/* Action column */
.content colgroup col:nth-child(6) {
    width: 100px;
}

/* header styling */
.content th#header {
    padding: 0;
    /* resetting the padding set for this particular th */
}
.content th#header p {
    margin: 0;
}
.content th#header div {
    line-height: 36px;
    display: block;
    background: #CCCCCC -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: #CCCCCC -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: #CCCCCC linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    /* relative positioning is needed 
    to display the shadow of this div */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
}
.content th#header a {
    float: right;
    font-weight: normal;
    color: #022967;
}
.content th#header a:before {
    /* add */
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background: transparent url("../images/add-person.png") !important;
    background-size: 20px 20px !important;
    margin-right: 2px;
    vertical-align: middle;
}

/* auto numbering in S. No. column */
.content table {
    counter-reset: s-num;
    /* 
     * s-num is counter variable
     * counter value after reset is 0
     */
}
.content table td:first-child:before {
    counter-increment: s-num;
    content: counter(s-num);
}

/* images for edit and delete */

.content td.action a {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin:0; 
    vertical-align: middle;
    margin-right: 5px;
}
.content td.action a:nth-child(1) {
    /* edit */
    background: transparent url("../images/user-edit-icon.png") !important;
    background-size: 20px 20px !important;
}
.content td.action a:nth-child(2) {
    /* delete */
    background: transparent url("../images/delete2.png") !important;
    background-size: 20px 20px !important;
}

/* default alternate coloring of rows */
tbody tr:nth-child(odd) {
    background: #CCCCCC;
}
tbody tr:nth-child(even) {
    background: #F4F4F4;
}

/*-------------color themes---------------*/

/*****orange theme*****/
/* table colors */
.orange th {
    background: #FE9748 !important;
}
.orange th#header div {
    background: #FF9129 -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3)) !important;
    background: #FF9129 -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.3)) !important;
    background: #FF9129 linear-gradient(transparent, rgba(0, 0, 0, 0.3)) !important;
}
.orange tbody tr:nth-child(odd) {
    background: #FEDFD2 !important;
}
.orange tbody tr:nth-child(even) {
    background: #FFF1F0 !important;
}

/* popup colors */
.orange.popup {
    border: 1.5px solid #F9B270 !important;
    background: -webkit-linear-gradient(#FEEBDA, #FFBE86) !important;
    background: -moz-linear-gradient(#FEEBDA, #FFBE86) !important;
    background: linear-gradient(#FEEBDA, #FFBE86) !important;
}

/*****blue theme*****/
/* table colors */
.blue th {
    background: #4DAECB !important;
}
.blue th#header div {
    background: #36B2D9 -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3)) !important;
    background: #36B2D9 -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.3)) !important;
    background: #36B2D9 linear-gradient(transparent, rgba(0, 0, 0, 0.3)) !important;
}
.blue tbody tr:nth-child(odd) {
    background: #D6E5F1 !important;
}
.blue tbody tr:nth-child(even) {
    background: #EFF3FA !important;
}

/* popup colors */
.blue.popup {
    border: 1.5px solid #9CD8E7 !important;
    background: -webkit-linear-gradient(#E2F8FF, #9CE9FF) !important;
    background: -moz-linear-gradient(#E2F8FF, #9CE9FF) !important;
    background: linear-gradient(#E2F8FF, #9CE9FF) !important;
}

/*-----------tooltip-------------*/
a.tooltip {
    outline:none;
    display: none;
    text-decoration: none;
    color: black;
    height: 20px;
    width: 20px;
    background: url('../images/help1.png') no-repeat;
    background-size: 20px 20px;
}
a.tooltip p {
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}
a.tooltip ul {
    margin: 0;
}
a.tooltip:hover {
    text-decoration:none;
}
a.tooltip label {
    z-index:10;
    display:none;
    padding:14px 20px;
    margin-top:-30px;
    margin-left:28px;
    width:300px;
    line-height:16px;
}
a.tooltip:hover label {
    display:inline;
    position:absolute;
    color:#111;
    border:1px solid #DCA;
    background:#fffAF0;
    border-radius: 5px;
    box-shadow: 4px 4px 7px gray;
}